@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap");
@import "tailwindcss";

body,
html {
  font-family: "Bitcount Grid Single", Arial;
  background-color: #111;
}

